.studyInputBtn {
  position: fixed;
  top: 80%;
  right: 100px;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 60%;
  background-color: #212529;
  color: white;
  font-size: 100px;
  border-radius: 100%;
  text-decoration: none;
  font-weight: bold;
  z-index: 5;
}

.studyInputBtn:hover {
  background-color: #f8f9fa;
  border: 1px solid #212529;
  color: #212529;
}

#topHR {
  border: 0px;
  height: 2px;
  background-color: rgb(25, 200, 90);
}

input:focus {
  outline: none;
}
