#former {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

#idLabel {
  margin-right: 167px;
}
#passLabel {
  margin-right: 155px;
}
#nameLabel {
  margin-right: 177px;
}
#emailLabel {
  margin-right: 167px;
}
#idInputJ {
  margin-left: 65px;
}

.joinInput {
  width: 200px;
  height: 25px;
  margin-bottom: 10px;
  border-style: inset;
}

#joinSubmit {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border-width: 0.5px;
  background-color: lightgreen;
  font-weight: 200;
}

#idCheck {
  background-color: white;
  height: 30px;
  border-radius: 5px;
}
