.joinForm {
  background-color: rgb(240, 240, 240);
  padding-top: 5%;
  height: 1000px;
}

#former {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-right: 10%;
}

.joinInput input {
  width: 200px;
  height: 25px;
  margin-bottom: 10px;
  border-style: inset;
}

.joinInput {
  display: inline-block;
}

.idInput {
  margin-left: 92px;
  margin-right: 10px;
}

#joinSubmit {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border-width: 0.5px;
  background-color: lightgreen;
  font-weight: 200;
}

#idCheck {
  background-color: white;
  height: 30px;
  border-radius: 5px;
}
