#back {
  height: 1000px;
  background-color: rgb(240, 240, 240);
}

#modForm {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: 300;
}

.modInput {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: rgb(240, 240, 240);
  margin-top: 5px;
  margin-bottom: 5px;
}

.inputName {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
  width: 60px;
}

#confirmer {
  margin-left: 50px;
  display: inline;
}

#previewImage {
  margin-left: 45px;
}

#modForm button {
  margin-top: 20px;
}
