#searchForm {
  width: 500px;
  margin: 50px auto 0 auto;
  text-align: center;
  vertical-align: middle;
}

#searchForm input {
  width: 420px;
  height: 30px;
  font-size: 25px;
  margin-top: 0px;
}

#searchForm button {
  margin-left: 20px;
  width: 50px;
  height: 36px;
}
