.StudyFormDetail {
  margin: 30px auto;
  width: 500px;
  height: 700px;
  background-color: rgb(235, 235, 235);
  padding: 10px;
}

.StudyForm:hover {
  background-color: rgb(238, 238, 238);
}

.title {
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 3px 5px;
}

hr {
  border: 0px;
  height: 1px;
  background-color: silver;
  /* width: 95%; */
}
.contentDetail {
  height: 300px;
  color: rgb(77, 77, 77);
  font-size: 15px;
}

/* .leader {
  display: inline-block;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
} */

/* .tagSpan {
  font-size: 15px;
  display: inline-block;
  margin: 3px;
  color: white;
  background-color: rgb(180, 180, 180);
  padding: 5px;
  border-radius: 2px;
} */

.joinBtn {
  margin-top: 20px;
  margin-left: 20%;
  width: 60%;
  height: 50px;
}
