#creater {
  margin: 30px auto;
  width: 800px;
  /* height: 700px; */
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
  padding: 10px;
  color: rgb(77, 77, 77);
}

#title {
  font-size: 21px;
  font-weight: bold;
  padding: 5px 0 10px 5px;
  margin-left: 0px;
  width: 95%;
  border: 0px;
}

#content {
  border: 0px;
  width: 800px;
  resize: none;
}

#content:focus {
  outline: none;
}
#submitButton {
  width: 120px;
  height: 40px;
  background-color: white;
  border: 1.5px rgb(168, 168, 168) solid;
  border-radius: 5px;
  padding: 8px;
  margin: 5px 15px 15px;
}
#submitButton:hover {
  background-color: rgb(168, 168, 168);
}
