.card {
  padding: 10px;
  text-decoration: none;
}

.card:hover {
  background-color: rgb(238, 238, 238);
}

.title {
  font-size: 21px;
  color: #212529;
  font-weight: bold;
}

hr {
  border: 0px;
  height: 1px;
  margin: 3px 0 7px 0px;
  background-color: silver;
}
.content {
  height: 95px;
  color: rgb(77, 77, 77);
  font-size: 15px;
}

.leader {
  display: inline-block;
  font-size: 15px;
  margin-left: auto;
  margin-right: 10px;
}

.tagSpan {
  font-size: 15px;
  display: inline-block;
  margin: 3px;
  color: white;
  background-color: rgb(180, 180, 180);
  padding: 5px;
  border-radius: 2px;
}
