.tag li {
  list-style: none;
  float: left;
  cursor: pointer;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 3px 3px 3px 6px;
  margin-left: 5px;
}

#tagInput {
  /* margin-top: 10px; */
  /* margin-right: 120px; */
}
