.tag {
  margin-left: 320px;
}

.tag li {
  list-style: none;
  float: left;
  cursor: pointer;
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
}

#tagInput {
  margin-top: 10px;
  margin-right: 120px;
}
